*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/james-pond-1qkyck-UL3g-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav h3 a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-weight:500;
    color: #fff;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    nav h3 a{
        font-size: 13px;
    }  
    .nav-links ul li a{
        font-size: 10px;
        opacity: 0.9;
    }
    .row{
        flex-direction: column;
    }
    .designs h1{
        font-size: 20px;
    }
    .contact h1{
        font-size: 20px;
        
    }
}

/* ------Features------ */

.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.features-col{
    flex-basis: 23%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.features-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* ------Our Designs - Homepages------ */

.designs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.designs-col{
    flex-basis: 15%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.designs-col img{
    width: 100%;
    display: block;
    height: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: 0.5s;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer:hover h3{
    bottom: 43%;
    opacity: 1;
}

/* ------Our Facilities------ */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.layer1{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer1 h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer1:hover{
    background: rgba(0,0,0,0.6);
}
.layer1:hover h3{
    bottom: 43%;
    opacity: 1;
}

/* CONTACT */

.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/the-creative-exchange-kmz39UAtKZ0-unsplash.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h1{
    color: rgba(255, 255, 255);
    margin-bottom: 40px;
    padding: 0;
}

/* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}
/* ---------- about us page ----------- */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/volodymyr-hryshchenko-U00ZXRlR3YE-unsplash.jpg);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}

/* Contact Us Page*/

.contact-us{
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
}

.contact-us input, .contact-us textarea{
    width: 90%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
/* ----------------------Cards-------------------- */
.cards{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.cards-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}

/* -------------cards img------------- */

.cardimg{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}
.cont-img{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.cont-img .cardsimg{
    position: relative;
    max-width: 280px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.cont-img .cardsimg:hover{
    height: 420px;
}
.cont-img .cardsimg .imgx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.cont-img .cardsimg .imgx img{
    max-width: 100%;
    border-radius: 4px;
}
.cont-img .cardsimg .content-img {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.cont-img .cardsimg:hover .content-img{
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition-delay: 0.3s;
}

/* ---------------------hover cards--------------------- */
.hovercards{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #003e46;
    margin-top: 50px;
}
.cont-hov{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hov-box{
    position: relative;
    width: 280px;
    height: 374px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0,0,0,0.5);
    cursor: pointer;
}
.hov-box .imgh{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hov-box .imgh img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.hov-box:hover .imgh img{
    opacity: 0;
}
.hov-box .hcontent{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}
.hov-box:hover .hcontent{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
.hov-box .hcontent h3{
    margin: 0;
    padding: 0px;
    font-size: 20px;
}
.hov-box .hcontent p{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}
.hov-box:hover .hcontent p{
    opacity: 1;
    transition-delay: 0.5s;
}
/* ------------------glowing cards------------------------ */

.glow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 50px;
}
.glowbox{
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
}
.glowbox:hover{
    height: 400px;
}
.glowbox .gimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.glowbox .gimg img{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.glowbox:hover .gimg img{
    opacity: 1;
}
.glowbox:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.glowbox:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.glowbox:before,
.glowbox:after{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.glowbox:nth-child(2):before,
.glowbox:nth-child(2):after{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.glowbox:nth-child(3):before,
.glowbox:nth-child(3):after{
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
.glowbox .gcontent{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.glowbox:hover .gcontent{
    opacity: 1;
}
.glowbox .gcontent h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.glowbox .gcontent h2 span{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}




/* ------------cards color pop------------ */

.cont-pop{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;
}
.cont{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cont .cardsone{
    position: relative;
    width: 280px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
    cursor: pointer;
}
.cont:hover .cardsone{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}
.cont .cardsone:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.cont .cardsone .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
.cont .cardsone .circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}
.cont .cardsone .content{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}
.cont .cardsone .content p{
    color: #666;
}
.cont .cardsone .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}
.cont .cardsone:nth-child(1) .circle,
.cont .cardsone:nth-child(1) .content a{
    background: #ffaf00;
}
.cont .cardsone:nth-child(2) .circle,
.cont .cardsone:nth-child(2) .content a{
    background: #da2268;
}
.cont .cardsone:nth-child(3) .circle,
.cont .cardsone:nth-child(3) .content a{
    background: #bb02ff;
}
/* ----------------------forms--------------------------- */
/* -------------------------------Responsive Forms---------------------------------- */
.rep-form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 100px;
}
.rep-form .imgr{
    position: relative;
    width: 50%;
    height: 100%;
}
.rep-form .imgr:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03e9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.rep-form .imgr img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rep-form .rcontent{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.rep-form .rcontent .formr{
    width: 50%;
}
.rep-form .rcontent .formr h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: flex;
    letter-spacing: 1px;
}
.rep-form .rcontent .formr .inputr{
    margin-bottom: 20px;
}
.rep-form .rcontent .formr .inputr span{
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.rep-form .rcontent .formr .inputr input{
    width: 100%;
    padding: 10px 0px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
.rep-form .rcontent .formr .inputr input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.rep-form .rcontent .formr .inputr input[type="submit"]:hover{
    background: #f53677;
}
.rep-form .rcontent .formr .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
    display: flex;
}
.rep-form .rcontent .formr .inputr p{
    color: #607d8b;
    display: flex;
}
.rep-form .rcontent .formr .inputr p a{
    color: #ff4584;
}
@media (max-width:768px) {
    .rep-form .imgr{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .rep-form .rcontent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .rep-form .rcontent .formr{
        width: 100%;
        padding: 40px;
        background: rgba(255,255,255,0.5);
        margin: 10px;
    }
}
/* --------------------------double form------------------------------------- */
.dbform{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 50px;
}
main{
    position: relative;
    min-height: 100vh;
    background: #fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
main .dbcont{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}
main .dbcont .user{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
main .dbcont .user .imgd{
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s;
}
main .dbcont .user .imgd img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}
main .dbcont .user .dform{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
main .dbcont .user .dform form h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
main .dbcont .user .dform form input{
    position: relative;
    width: 100%;
    padding: 10px 0px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
main .dbcont .user .dform form input[type="submit"]{
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .dbcont .user .dform form .signup{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 0;
    padding: 0;
}


/* -----------------contact form--------------------- */
.contac{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d192e;
    margin-top: 50px;
}
.ccont{
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    height: 600px;
    background: #122647;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ccont .cform{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ccont .cform form{
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}
.ccont .cform form h2{
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    display: flex;
}
.ccont .cform form .inputbox{
    position: relative;
    margin-bottom: 40px;
}
.ccont .cform form .inputbox:last-child{
    margin-bottom: 0px;
}
.ccont .cform form .inputbox input,
.ccont .cform form .inputbox textarea{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    resize: none;
}
.ccont .cform form .inputbox textarea{
    height: 100px;
}
.ccont .cform form .inputbox input[type="submit"]{
    background: #fff;
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    display: flex;
    cursor: pointer;
    background: #ff5064;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.ccont .cform form .inputbox input[type="submit"]:focus{
    background: #1bfaad;
    color: #111;
}
.ccont .cform form .inputbox span{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s;
}
.ccont .cform form .inputbox input:focus ~ span,
.ccont .cform form .inputbox textarea:focus ~ span,
.ccont .cform form .inputbox input:valid ~ span,
.ccont .cform form .inputbox textarea:valid ~ span {
    transform: translateY(-24px);
    color: #1bfaad;
    font-size: 14px;
}
.ccont .cform form .inputbox input:focus,
.ccont .cform form .inputbox textarea:focus, 
.ccont .cform form .inputbox input:valid,
.ccont .cform form .inputbox textarea:valid {
    border-bottom-color: #fff;
} 
.ccont .imgc{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.ccont .imgc:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff5064;
    transform-origin: bottom;
    transform: skewX(-25deg) translateX(10%);
    opacity: 0.6;
}
.ccont .imgc img{
    /* position: absolute;
    bottom: 0; */
    margin-left: 20px ;
    max-height: 100%;
}
@media (max-width:991px){
    .ccont .cform{
        width: 100%;
        padding: 0 50px;
    }
    .ccont .cform form{
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 0;
    }
    .ccont .imgc{
        display: none;
    }
      
}
/* --------------------payment form------------------------------- */
/* *{
    box-sizing: border-box;
} */
.payform{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8 px;
}
.paycontainer{
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.paycontainer input[type="text"],
.paycontainer input[type="number"],
.paycontainer input[type="email"],
.paycontainer input[type="date"],
.paycontainer input[type="password"],
.paycontainer select,
.paycontainer textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;   
}
.paycontainer fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
.paycontainer .main_heading{
    text-align: center;
}
.paycontainer input[type="submit"]{
    background-color:#4daea1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.paycontainer input[type="submit"]:hover{
    background-color:#4caf84;
}